.ProductCard{
    background: linear-gradient(to left,rgba(80, 29, 29, 0.6),rgba(136, 4, 4, 0.6)),url("../../../assets/ProductBackground/ProductBackground.jpg");
    background-size: cover;
}
/* .ProductCard a{
    text-decoration: none;
    color: rgb(216, 216, 216);
}
.ProductDetails{
    padding: 10px 16px;
}
.ProductCard img{
    width: 100%;
    max-height: 350px;
    cursor: pointer;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.ProductRating .Left{
    float: left;
}
.ProductRating .Right{
    cursor: pointer;
}
.ProductRating i {
    margin: 0 8px;
}
.PriceBox .ProductPrice{
    float: left;
}
.ProductDiscount{
    float: right;
    background-color: rgb(223, 30, 94);
    color: white;
    border-radius: 60px;
    padding: 0 5px;
}
.Plus{
    font-size: 35px;
    color: green;
    cursor: pointer;
    float: left;
}
.Minus{
    font-size: 35px;
    color: red;
    cursor: pointer;
    float: right;
    
}
.PlusAndMinus{
    text-align: center;
}
.PlusAndMinus p {
    box-shadow: 3px 3px 20px #ccc;
    border: 1px solid #cece;
    border-radius: 10px;
    max-height: 160px !important;
}
.PlusAndMinus button{
    border: none;
    cursor: pointer;
}
.btnSuccess{
    color: green;
    font-size: 30px;
    background-color: transparent;
    float: left;
}
.btnDanger{
    color: red;
    font-size: 30px;
    background-color: transparent;
    float: right;
}
.ProductCard:hover{
    box-shadow: 1px 2px 12px rgba(185, 40, 40, 0.623);
}
.PlusAndMinus span{
    font-size: 20px;
} */
